<!DOCTYPE html>
<html>
  <head>
    <title><%= app_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-black">
    <div class="min-h-screen bg-black my_text_color">
      <%= yield %>
    </div>
  </body>
</html>
