<!DOCTYPE html>
<html>

<head>
  <title><%= app_name %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <meta name="turbo-cache-control" content="no-cache">
</head>

<body>
  <%= render "shared/header" %>
  <%= render "shared/notifications" %>
  <div>
    <%= yield %>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/parsleyjs@2/dist/parsley.min.js"></script>
</body>
</html>